@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: grey;
  }
  .footer .addresses {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }