@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* border:1px solid red; */
}

.portfolioScroll::-webkit-scrollbar {
  width: 100%;               /* width of the entire scrollbar */
}

.portfolioScroll::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.portfolioScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #54a8f6, #c769f8 );    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}